<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Planner</title>
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'journey/style.css' %}">
    </head>
    <body>
        <header>
            <div class="col text-center display-1">Ceļojumu plānotājs</div>
        </header>
        <div class="container-fluid">
            {% block content %}
            
            {% endblock content %}
        </div>
        <footer class="footer pt-5">
            <p class="text-center">&copy Copyright 2024</p>
            <p class="text-lg-center">Loreta Vītiņa</p>
            <p class="text-lg-center"><a href="mailto:loreta.vitina@va.lv">Contact me</a></p>
        </footer>
    </body>
</html>